n8n/nexai-website-termin.json
{
  "name": "NEXAI Web · Termin (Verfügbarkeit + Buchung)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nexai-web-termin",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b1000000-0000-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-360, 300],
      "webhookId": "nexai-web-termin",
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "// Eingang normalisieren. Die Website schickt entweder {action:'busy'}\n// oder {action:'create', startISO, endISO, name, email, topic, locale}.\nconst b = $input.first().json.body || $input.first().json || {};\nconst action = String(b.action || '').toLowerCase();\n\n// Fenster fuer die Belegt-Abfrage: jetzt bis +15 Tage (ein Tag Puffer, damit\n// Termine am Rand des 14-Tage-Horizonts der Website sicher abgedeckt sind).\nconst now = new Date();\nconst until = new Date(now.getTime() + 15 * 24 * 60 * 60 * 1000);\n\nreturn [{ json: {\n  action,\n  timeMin: now.toISOString(),\n  timeMax: until.toISOString(),\n  startISO: b.startISO || '',\n  endISO: b.endISO || '',\n  name: String(b.name || '').slice(0, 80),\n  email: String(b.email || '').slice(0, 120),\n  topic: String(b.topic || '').slice(0, 500),\n  locale: b.locale === 'en' ? 'en' : 'de'\n} }];"
      },
      "id": "b1000000-0000-4000-8000-000000000002",
      "name": "Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-140, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-create",
              "leftValue": "={{ $json.action }}",
              "rightValue": "create",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1000000-0000-4000-8000-000000000003",
      "name": "Buchen?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [80, 300]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "Primary Calendar"
        },
        "start": "={{ $json.startISO }}",
        "end": "={{ $json.endISO }}",
        "additionalFields": {
          "summary": "=NEXAI Erstgespräch – {{ $json.name }}",
          "description": "={{ '🌐 Gebucht über die Website (nex-a-i.com/contact)' + '\\n👤 Name: ' + $json.name + '\\n✉️ E-Mail: ' + $json.email + '\\n💬 Anliegen: ' + ($json.topic || '—') + '\\n🗣 Sprache: ' + $json.locale }}",
          "attendees": [
            {
              "mode": "add",
              "email": "={{ $json.email }}"
            }
          ],
          "sendUpdates": "all",
          "conferenceDataUi": {}
        }
      },
      "id": "b1000000-0000-4000-8000-000000000004",
      "name": "Create Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [320, 180],
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ok: true } }];"
      },
      "id": "b1000000-0000-4000-8000-000000000005",
      "name": "Return: Booked",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 180]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "Primary Calendar"
        },
        "returnAll": true,
        "timeMin": "={{ $json.timeMin }}",
        "timeMax": "={{ $json.timeMax }}",
        "options": { "singleEvents": true, "orderBy": "startTime" }
      },
      "id": "b1000000-0000-4000-8000-000000000006",
      "name": "Get Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [320, 420],
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "// Nur die belegten Zeitraeume durchreichen — keine Titel, keine Teilnehmer,\n// keine Beschreibungen. Die Website sieht ausschliesslich, WANN belegt ist.\nconst busy = [];\nfor (const item of $input.all()) {\n  const e = item.json || {};\n  if (!e || e.status === 'cancelled') continue;\n  // Abgelehnte bzw. nur tentativ gesetzte Termine blockieren nicht.\n  if (e.transparency === 'transparent') continue;\n  const start = e.start && (e.start.dateTime || e.start.date);\n  const end = e.end && (e.end.dateTime || e.end.date);\n  if (!start || !end) continue;\n  busy.push({ start, end });\n}\nreturn [{ json: { ok: true, busy } }];"
      },
      "id": "b1000000-0000-4000-8000-000000000007",
      "name": "Return: Busy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 420]
    },
    {
      "parameters": { "options": {} },
      "id": "b1000000-0000-4000-8000-000000000008",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [800, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Parse", "type": "main", "index": 0 }]] },
    "Parse": { "main": [[{ "node": "Buchen?", "type": "main", "index": 0 }]] },
    "Buchen?": {
      "main": [
        [{ "node": "Create Event", "type": "main", "index": 0 }],
        [{ "node": "Get Events", "type": "main", "index": 0 }]
      ]
    },
    "Create Event": {
      "main": [[{ "node": "Return: Booked", "type": "main", "index": 0 }]]
    },
    "Return: Booked": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    },
    "Get Events": {
      "main": [[{ "node": "Return: Busy", "type": "main", "index": 0 }]]
    },
    "Return: Busy": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
