n8n/nexai-vapi-verfuegbarkeit.json
{
  "name": "NEXAI Voice · Verfügbarkeit prüfen (Vapi)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nexai-vapi-availability",
        "responseMode": "responseNode",
        "authentication": "none",
        "options": {}
      },
      "id": "webhook-a1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "nexai-vapi-availability-webhook"
    },
    {
      "parameters": {
        "jsCode": "// NEXAI Voice · Verfügbarkeit — toolCallId lesen (flach ODER Vapi-Envelope), 14-Tage-Fenster\nconst TZ='Europe/Berlin';\nconst root=$input.first().json||{};\nconst body=(root.body && typeof root.body==='object')?root.body:root;\nlet toolCallId='';\nif(body && body.message && Array.isArray(body.message.toolCalls) && body.message.toolCalls[0]) toolCallId=body.message.toolCalls[0].id||'';\nelse toolCallId=body.toolCallId||'';\nconst now=$now.setZone(TZ);\nreturn [{ json: { toolCallId, windowMinISO: now.toISO(), windowMaxISO: now.plus({days:14}).toISO() } }];"
      },
      "id": "code-a2",
      "name": "Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "Primary Calendar"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{ $json.windowMinISO }}",
          "timeMax": "={{ $json.windowMaxISO }}",
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "id": "gcal-a3",
      "name": "Get Events (14d window)",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        440,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// NEXAI Voice · Verfügbarkeit — Belegt-Liste + heutiges Datum, Antwort im Vapi-results-Format\nconst TZ='Europe/Berlin';\nconst now=$now.setZone(TZ);\nconst WD=['','Mo','Di','Mi','Do','Fr','Sa','So'];\nconst WDLONG=['','Montag','Dienstag','Mittwoch','Donnerstag','Freitag','Samstag','Sonntag'];\nconst busy=[];\nfor(const it of $input.all()){ const e=it.json||{}; if(!e || e.status==='cancelled')continue;\n  const s=e.start&&(e.start.dateTime||e.start.date); const en=e.end&&(e.end.dateTime||e.end.date); if(!s||!en)continue;\n  const es=DateTime.fromISO(s).setZone(TZ); const ee=DateTime.fromISO(en).setZone(TZ); if(!es.isValid)continue;\n  busy.push({es,ee}); }\nbusy.sort((a,b)=>a.es.toMillis()-b.es.toMillis());\nconst list=busy.map(b=>WD[b.es.weekday]+' '+b.es.toFormat('dd.LL.')+' '+b.es.toFormat('HH:mm')+'-'+b.ee.toFormat('HH:mm')).join(' | ');\nconst heute='Heute ist '+WDLONG[now.weekday]+', der '+now.toFormat('dd.LL.yyyy')+'.';\nconst result=heute+' Belegte Zeiten der nächsten 14 Tage (Wochentag-Kürzel + TT.MM. Uhrzeit, Europe/Berlin): '+(list||'keine')+'. Geschäftszeiten Mo bis Fr 08:00 bis 17:00 Uhr, Termindauer 30 Minuten. WICHTIG: Schlage dem Anrufer im gewünschten Zeitraum GENAU 3 freie Termine an 3 VERSCHIEDENEN Tagen vor (niemals mehrere am selben Tag), chronologisch, die NICHT in der Belegt-Liste stehen. Der Wochentag muss exakt zum Datum passen (nutze die Kürzel aus der Liste). Steht ein Tag nicht in der Liste, ist er komplett frei. Frage danach, welcher Termin passt.';\nconst toolCallId=$('Parse').first().json.toolCallId;\nreturn [{ json: { results: [{ toolCallId, result }] } }];"
      },
      "id": "code-a4",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "resp-a5",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse": {
      "main": [
        [
          {
            "node": "Get Events (14d window)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Events (14d window)": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateId": "nexai-vapi-verfuegbarkeit"
  },
  "tags": []
}