n8n/nexai-vapi-buchung.json
{
  "name": "NEXAI Voice · Termin buchen (Vapi)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nexai-vapi-booking",
        "responseMode": "responseNode",
        "authentication": "none",
        "options": {}
      },
      "id": "webhook-b1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "nexai-vapi-booking-webhook"
    },
    {
      "parameters": {
        "jsCode": "// NEXAI Voice · Buchung — Payload lesen (flach ODER Vapi-Envelope) + Datum robust parsen (v4-Port)\nconst TZ = 'Europe/Berlin';\nconst nowDt = $now.setZone(TZ);\nconst today = { year: nowDt.year, month: nowDt.month, day: nowDt.day, dow: nowDt.weekday };\n\nconst root = $input.first().json || {};\nconst body = (root.body && typeof root.body === 'object') ? root.body : root;\nlet toolCallId = '';\nlet a = {};\nif (body && body.message && Array.isArray(body.message.toolCalls) && body.message.toolCalls[0]) {\n  const tc = body.message.toolCalls[0];\n  toolCallId = tc.id || '';\n  let ar = tc.function && tc.function.arguments;\n  if (typeof ar === 'string') { try { ar = JSON.parse(ar); } catch (e) { ar = {}; } }\n  a = ar || {};\n} else {\n  a = body || {};\n  toolCallId = body.toolCallId || '';\n}\n\nconst name = String(a.name ?? '').trim();\nconst email = String(a.email ?? '').trim();\nconst telefon = String(a.telefon ?? a.phone ?? '').trim();\nconst anliegen = String(a.anliegen ?? a.topic ?? '').trim();\nconst notizen = String(a.notizen ?? '').trim();\nconst terminRaw = String(a.termin ?? a.start ?? a.startISO ?? '').trim();\n\n// ---- verifizierter Datums-Parser (Port aus parse_test4.js) ----\nconst pad = n => String(n).padStart(2, '0');\nfunction addDaysFmt(off){ const d=new Date(Date.UTC(today.year,today.month-1,today.day)); d.setUTCDate(d.getUTCDate()+off); return pad(d.getUTCDate())+'.'+pad(d.getUTCMonth()+1)+'.'+d.getUTCFullYear(); }\nfunction wdOffset(W){ let o=W-today.dow; if(o<=0)o+=7; return o; }\nconst TODAY_MMDD = pad(today.month)+pad(today.day);\nconst WEEKDAYS=[['montag',1],['dienstag',2],['mittwoch',3],['donnerstag',4],['freitag',5],['sonnabend',6],['samstag',6],['sonntag',7]];\nconst MONTH_ALT='januar|februar|maerz|märz|april|mai|juni|juli|august|september|oktober|november|dezember|jan|feb|mär|mrz|apr|jun|jul|aug|sept|sep|okt|nov|dez';\nconst MONTHS=[['januar|jan','01'],['februar|feb','02'],['maerz|märz|mär|mrz','03'],['april|apr','04'],['mai','05'],['juni|jun','06'],['juli|jul','07'],['august|aug','08'],['september|sept|sep','09'],['oktober|okt','10'],['november|nov','11'],['dezember|dez','12']];\nfunction hasConcreteDate(s){ return new RegExp('(\\\\d{1,2}\\\\.\\\\d{1,2}|'+MONTH_ALT+')').test(s); }\nfunction resolveRel(t){ const low=t.toLowerCase(); if(hasConcreteDate(low))return t; let s=low;\n  s=s.replace(/übermorgen/g,addDaysFmt(2)+' '); s=s.replace(/morgen/g,addDaysFmt(1)+' '); s=s.replace(/heute/g,addDaysFmt(0)+' ');\n  for(const wp of WEEKDAYS)s=s.replace(new RegExp(wp[0],'g'),addDaysFmt(wdOffset(wp[1]))+' '); return s; }\nfunction runMarked(input){ let s=input.toLowerCase();\n  s=s.replace(/(^|\\D)(\\d{1,2})[.:](\\d{2})\\s*uhr/g,'$1$2:$3'); s=s.replace(/(^|\\D)(\\d{1,2})\\s*uhr/g,'$1$2:00');\n  for(const mp of MONTHS)s=s.replace(new RegExp('(^|\\\\D)(\\\\d{1,2})\\\\s*\\\\.?\\\\s*(?:'+mp[0]+')\\\\s*\\\\.?\\\\s*','g'),'$1$2.'+mp[1]+'.');\n  s=s.replace(/[^0-9.: ]/g,''); s=s.replace(/ +/g,' ').trim();\n  s=s.replace(/( )(\\d{1,2})\\.(\\d{2})$/g,'$1$2:$3');\n  s=s.replace(/(\\d{1,2})\\.(\\d{1,2})\\.(\\d{1,2})\\.(\\d{2})(?=\\s|$)/g,'$1.$2.@YEAR@ $3:$4');\n  s=s.replace(/(\\d{1,2})\\.(\\d{1,2})\\.(\\d{2})(?=\\s|$)/g,'$1.$2.20$3');\n  s=s.replace(/(\\d{1,2})\\.(\\d{1,2})\\.?\\s*(\\d{1,2}:\\d{2})/g,'$1.$2.@YEAR@ $3'); return s.trim(); }\nfunction smartClean(m){ if(!m.includes('@YEAR@'))return m; const mt=m.match(/^(\\d{1,2})\\.(\\d{1,2})\\.@YEAR@/);\n  if(!mt)return m.replace(/@YEAR@/g,String(today.year));\n  const mm=mt[2].padStart(2,'0'),dd=mt[1].padStart(2,'0'); const yr=((mm+dd)<TODAY_MMDD)?today.year+1:today.year;\n  return m.replace(/@YEAR@/g,String(yr)); }\n\nlet clean = terminRaw ? smartClean(runMarked(resolveRel(terminRaw))) : '';\nconst FINAL=/^\\d{1,2}\\.\\d{1,2}\\.\\d{4} \\d{1,2}:\\d{2}$/;\n\nlet valid=false, startISO='', endISO='', startLabel='';\nif (FINAL.test(clean)) {\n  const start = DateTime.fromFormat(clean, 'd.M.yyyy H:mm', { zone: TZ });\n  if (start.isValid) {\n    valid = true;\n    const end = start.plus({ minutes: 30 });\n    startISO = start.toISO();\n    endISO = end.toISO();\n    startLabel = start.setLocale('de').toFormat(\"dd.LL.yyyy 'um' HH:mm\");\n  }\n}\nreturn [{ json: { valid, toolCallId, name, email, telefon, anliegen, notizen, terminRaw, clean, startISO, endISO, startLabel } }];"
      },
      "id": "code-b2",
      "name": "Parse & Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-b3",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "if-b3",
      "name": "Is Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "Primary Calendar"
        },
        "start": "={{ $json.startISO }}",
        "end": "={{ $json.endISO }}",
        "additionalFields": {
          "summary": "=NEXAI · {{ $json.anliegen }} – {{ $json.name }}",
          "description": "={{ '🤖 Gebucht über den NEXAI Voice Agent' + '\\n👤 Kunde: ' + $json.name + ($json.telefon ? '\\n📞 Telefon: ' + $json.telefon : '') + '\\n💬 Anliegen: ' + ($json.anliegen || '—') + ($json.notizen ? '\\n📝 Notizen: ' + $json.notizen : '') }}"
        }
      },
      "id": "gcal-b4",
      "name": "Create Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        660,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-b9",
              "leftValue": "={{ $('Parse & Normalize').item.json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "if-b9",
      "name": "Hat E-Mail?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        200
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Parse & Normalize').item.json.email }}",
        "subject": "Ihr Termin bei NEXAI ist bestätigt ✅",
        "emailType": "html",
        "message": "=<div style=\"font-family:-apple-system,Segoe UI,Roboto,Arial,sans-serif;background:#f4f5f7;padding:32px 16px;\">\n  <div style=\"max-width:560px;margin:0 auto;background:#ffffff;border-radius:16px;overflow:hidden;border:1px solid #ececf1;\">\n    <div style=\"background:linear-gradient(135deg,#2563eb,#7c3aed);padding:26px 32px;\">\n      <div style=\"color:#ffffff;font-size:20px;font-weight:700;\">NEXAI</div>\n      <div style=\"color:rgba(255,255,255,.85);font-size:13px;margin-top:2px;\">Digitale Mitarbeiter · KI-Agentur</div>\n    </div>\n    <div style=\"padding:32px;\">\n      <h1 style=\"margin:0 0 8px;font-size:22px;color:#0b0b0f;\">Ihr Termin ist bestätigt ✅</h1>\n      <p style=\"margin:0 0 20px;color:#4b4b57;font-size:15px;line-height:1.6;\">Hallo {{ $('Parse & Normalize').item.json.name }},<br>vielen Dank für Ihre Anfrage. Ihr Termin bei NEXAI wurde erfolgreich eingetragen – wir freuen uns auf das Gespräch!</p>\n      <div style=\"background:#f7f8fa;border:1px solid #ececf1;border-radius:12px;padding:8px 20px;margin-bottom:22px;\">\n        <table style=\"width:100%;font-size:14px;color:#0b0b0f;border-collapse:collapse;\">\n          <tr><td style=\"padding:8px 0;color:#8a8a99;\">📅 Termin</td><td style=\"padding:8px 0;text-align:right;font-weight:600;\">{{ $('Parse & Normalize').item.json.startLabel }} Uhr</td></tr>\n          <tr><td style=\"padding:8px 0;color:#8a8a99;\">⏱️ Dauer</td><td style=\"padding:8px 0;text-align:right;font-weight:600;\">30 Minuten</td></tr>\n          <tr><td style=\"padding:8px 0;color:#8a8a99;\">💬 Thema</td><td style=\"padding:8px 0;text-align:right;font-weight:600;\">{{ $('Parse & Normalize').item.json.anliegen }}</td></tr>\n        </table>\n      </div>\n      <p style=\"margin:0;color:#8a8a99;font-size:13px;line-height:1.6;\">Müssen Sie verschieben oder absagen? Antworten Sie einfach auf diese E-Mail oder rufen Sie uns an: 0176 80714816.</p>\n    </div>\n    <div style=\"padding:18px 32px;border-top:1px solid #ececf1;color:#a1a1ad;font-size:12px;\">NEXAI · Crailsheim · mbt@nex-a-i.com · nex-a-i.com<br>Automatisch erstellt von unserem KI-Assistenten.</div>\n  </div>\n</div>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "gmail-b10",
      "name": "Kunden-Bestätigung",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1100,
        100
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "mbt@nex-a-i.com",
        "subject": "=🗓️ Neuer Termin: {{ $('Parse & Normalize').item.json.name }} – {{ $('Parse & Normalize').item.json.startLabel }}",
        "emailType": "html",
        "message": "=<div style=\"font-family:-apple-system,Segoe UI,Roboto,Arial,sans-serif;color:#0b0b0f;font-size:15px;line-height:1.6;\">\n  <h2 style=\"margin:0 0 12px;\">🗓️ Neuer Termin über den Voice Agent</h2>\n  <p style=\"margin:0 0 16px;color:#4b4b57;\">Der NEXAI Voice Agent hat soeben einen neuen Termin gebucht:</p>\n  <table style=\"border-collapse:collapse;font-size:14px;\">\n    <tr><td style=\"padding:4px 16px 4px 0;color:#8a8a99;\">Kunde</td><td style=\"padding:4px 0;font-weight:600;\">{{ $('Parse & Normalize').item.json.name }}</td></tr>\n    <tr><td style=\"padding:4px 16px 4px 0;color:#8a8a99;\">Termin</td><td style=\"padding:4px 0;font-weight:600;\">{{ $('Parse & Normalize').item.json.startLabel }} Uhr</td></tr>\n    <tr><td style=\"padding:4px 16px 4px 0;color:#8a8a99;\">Anliegen</td><td style=\"padding:4px 0;\">{{ $('Parse & Normalize').item.json.anliegen }}</td></tr>\n    <tr><td style=\"padding:4px 16px 4px 0;color:#8a8a99;\">E-Mail</td><td style=\"padding:4px 0;\">{{ $('Parse & Normalize').item.json.email }}</td></tr>\n    <tr><td style=\"padding:4px 16px 4px 0;color:#8a8a99;\">Telefon</td><td style=\"padding:4px 0;\">{{ $('Parse & Normalize').item.json.telefon }}</td></tr>\n  </table>\n  <p style=\"margin:16px 0 0;color:#a1a1ad;font-size:12px;\">Der Termin liegt im Kalender mbt@nex-a-i.com.</p>\n</div>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "gmail-b11",
      "name": "Inhaber-Info",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1320,
        200
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const p = $('Parse & Normalize').first().json;\nconst result = 'Perfekt, der Termin am ' + p.startLabel + ' Uhr ist verbindlich gebucht. Der Kunde erhält eine Kalendereinladung. Bestätige dem Anrufer den Termin freundlich und verabschiede dich.';\nreturn [{ json: { results: [{ toolCallId: p.toolCallId, result }] } }];"
      },
      "id": "code-b6",
      "name": "Return: Booked",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const p = $('Parse & Normalize').first().json;\nconst result = 'Ich habe das gewünschte Datum leider nicht sicher verstanden. Sag dem Anrufer freundlich, dass du Tag, Monat und Uhrzeit brauchst, und frag nach einem konkreten Termin, zum Beispiel: am fünfzehnten Juli um elf Uhr.';\nreturn [{ json: { results: [{ toolCallId: p.toolCallId, result }] } }];"
      },
      "id": "code-b7",
      "name": "Return: Invalid",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        440
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "resp-b8",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1760,
        320
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse & Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Normalize": {
      "main": [
        [
          {
            "node": "Is Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid": {
      "main": [
        [
          {
            "node": "Create Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return: Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "main": [
        [
          {
            "node": "Hat E-Mail?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return: Booked": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return: Invalid": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hat E-Mail?": {
      "main": [
        [
          {
            "node": "Kunden-Bestätigung",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Inhaber-Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kunden-Bestätigung": {
      "main": [
        [
          {
            "node": "Inhaber-Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inhaber-Info": {
      "main": [
        [
          {
            "node": "Return: Booked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateId": "nexai-vapi-buchung"
  },
  "tags": []
}
